{% extends "gitweb/base.html" %}
{% load gitweb_tags %}

{% block title %}Repository: <a href="{% url gitweb_repository_summary repository.slug %}">{{ repository.title }}</a> - {{ branch }} - {{ path }}{% endblock %}

{% block header %}
    <h1>Repository: {{ repository.title }} - {{ branch }} -  {{ path }}</h1>
{% endblock %}

{% block content %}
{% if is_blob %}
    {% include "gitweb/repository_tree_blob.html" %}
{% else %}
    {% include "gitweb/repository_tree_list.html" %}
{% endif %}
{% endblock %}
