{% extends "gitweb/base.html" %}
{% load gitweb_tags %}

{% block title %}Repository: {{ repository.title }}{% endblock %}

{% block header %}
    <h1>Repository: {{ repository.title }}</h1>
{% endblock %}

{% block content %}
<div class="repo_summary">
    <div class="key">description</div><div class="value">{% if repository.description %}{{ repository.description }}{% else %}{{ repository.repo.description }}{% endif %}</div>
    <div class="key">last change</div><div class="value">{{ repository.last_commit.committed_date|time2datetime }}</div>
</div>
<h3>recent commits</h3>
<table class="repo_log">
    {% for commit in repository.recent_commits %}
    <tr>
        <td>{{ commit.committed_date|time2datetime|conditional_timesince:7 }}</td>
        <td>{{ commit.committer.name }}</td>
        <td>{{ commit.message|truncatewords:8 }}</td>
        <td>
            <a href="{% url gitweb_repository_commit repository.pk,repository.slug,commit.id %}">commit</a>
            <a href="{% url gitweb_repository_commit_diff repository.pk,repository.slug,commit.id %}">commitdiff</a>
            <a href="#">tree</a>
        </td>
    </tr>
    {% endfor %}
</table>

<h3>heads</h3>
<table class="repo_log">
    {% for head in repository.repo.heads %}
    <tr>
        <td>{{ head.name }}</td>
        <td>{{ head.commit.committed_date|time2datetime|conditional_timesince:60 }}</td>
        <td>
            <a href="#">shortlog</a>
            <a href="#">tree</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}