{% extends "gitweb/base.html" %}
{% load gitweb_tags %}

{% block title %}Repository: {{ repository.title }} - Commit {{ commit.id_abbrev }}{% endblock %}

{% block header %}
    <h1>Repository: {{ repository.title }} - Commit {{ commit.id_abbrev }}</h1>
{% endblock %}

{% block content %}
<div class="repo_commit">
    <h3>{{ commit.message|truncatewords:8 }}</h3>
</div>
<div class="repo_commit">
    <div class="key">author</div><div class="value">{{ commit.author.name }} &lt;{{ commit.author.email }}&gt;</div>
    <div class="value">{{ commit.authored_date|time2datetime }}</div>
    <div class="key">committer</div><div class="value">{{ commit.committer.name }} &lt;{{ commit.committer.email }}&gt;</div>
    <div class="value">{{ commit.committed_date|time2datetime }}</div>
    <div class="key">commit</div><div class="value">{{ commit.id }} <a href="{% url gitweb_repository_commit_diff repository.id,repository.slug,commit.id %}">diff</a></div>
    <div class="key">parent</div><div class="value"><a href="{% url gitweb_repository_commit repository.id,repository.slug,commit.parents.0.id %}">{{ commit.parents.0.id }}</a></div>
</div>
<div class="repo_commit_message">
    {{ commit.message|linebreaksbr }}
</div>
<table class="repo_diffs">
    {% for diff in commit.diffs %}
    <tr>
        <td>{{ diff.a_path }}</td>
        <td>
            {% if diff.new_file %}[new file]{% endif %}
            {% if diff.deleted_file %}[file deleted]{% endif %}
        </td>
        <td>
            {% if not diff.new_file %}
            <a href="#">diff</a>
            <a href="#">history</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}